* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: 'Roboto', sans-serif;
}
.container {
  display: flex;
}
.left-container {
  width: 100px;
  background: #e5e5e5;
}
.left-container .logo-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.left-container .logo {
  text-decoration: none;
  color: black;
  font-size: 30px;
  font-family: Roboto;
}
.left-container .social img {
  display: flex;
  padding: 20px 35px;
}
.left-container .social img:nth-last-child(4) {
  margin-top: 345px;
}
/* Navigation */
.nav-container {
  position: absolute;
  width: 1250px;
  background: #ffffff;
}
.wrapper {
  display: flex;
  max-width: 1250px;
  /* margin: 0 0; */
  padding-left: 100px;
}
nav {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}
nav ul {
  display: flex;
}
.nav-items li {
  list-style: none;
  margin-right: 25px;

  /* position: absolute; */
  height: 21px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;

  /* identical to box height */
  display: flex;
  align-items: center;
}
.nav-items li a {
  list-style: none;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
}
.nav-items li:nth-last-child(3) {
  margin-right: 450px;
}

/* Header */
.head-content {
  padding-left: 42px;
  /* padding-top: -400px; */
  margin-top: 100px;
}
.head-image img {
  width: 560px;
  height: 645px;
  /* width: 650px;
  height: 780px; */
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .title {
  height: 28px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;

  color: rgba(0, 0, 0, 0.6);
}
header h3 {
  /* Minhaz Ahmed Muhe */

  /* width: 459px; */
  height: 56px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 56px;
  display: flex;
  align-items: center;

  color: rgba(0, 0, 0, 0.6);
}
header .sub-title {
  height: 36px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;

  color: rgba(0, 0, 0, 0.6);
}
header .details {
  height: 95px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  margin-top: 20px;
  color: #666666;
}
header a {
  text-decoration: none;
}
header .button {
  width: 201px;
  height: 28px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  margin-top: 50px;
  margin-bottom: 80px;
}
header .button {
  width: 250px;
  height: 80px;

  background: #2f80ed;
  border-radius: 5px;
}

header .contact-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .contact-content .contact2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;

  color: rgba(0, 0, 0, 0.6);
}
header .contact-content .contact1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;

  /* identical to box height */
  display: flex;
  align-items: center;

  color: rgba(0, 0, 0, 0.6);
}
header .contact-content .contact-border {
  width: 170px;
  border-right: 1px solid rgba(0, 0, 0, 0.6);
}
